**/__pycache__/
docs/_build/
docs/top/
docs/index_top.rst
testresults/
testresults_*/
git_cache/**
downloads/**
*.log
testbed.lock
**/*\ copy.py
**/*\ copy\ [0-9]*.py
**/*-backups/*
**/fp-info-cache
kicad/heatguard_v*/production/**
**/*.bkp

# Zephyr
heatguard_zephyr/zephyr.elf
heatguard_zephyr/zephyr.uf2
heatguard_zephyr/.build_workspace/

.west/
bootloader/
build/
dts/
modules/
tools/
zephyr/